[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/os2/Desktop/calamares.desktop]
row=4
col=0

[c8a661b6-d50c-4e8c-b9f5-1be5fdba2383]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/os2]
row=3
col=0

