[Desktop Entry]
Name=About Me
Name[be]=Пра мяне
Name[ca]=Quant a mi
Name[ca@valencia]=Quant a mi
Name[cs]=O mně
Name[da]=Om mig
Name[de]=Persönliche Informationen
Name[el]=Σχετικά Με Εμένα
Name[en_AU]=About Me
Name[eo]=Pri mi
Name[es]=Acerca de mí
Name[eu]=Niri buruz
Name[fi]=Omat tiedot
Name[fr]=À mon sujet
Name[gl]=Acerca de min
Name[is]=Um mig
Name[it]=Informazioni personali
Name[ja]=個人情報
Name[lt]=Apie mane
Name[nb]=Om meg
Name[nl]=Over mij
Name[pl]=Informacje o użytkowniku
Name[pt]=Sobre Mim
Name[pt_BR]=Sobre Mim
Name[ro]=Despre mine
Name[ru]=Обо мне
Name[sk]=O mne
Name[sl]=O meni
Name[sr]=О мени
Name[sv]=Om mig
Name[zh_CN]=关于我
Comment=Configure your profile image and contact details
Comment[be]=Наладзіць выяву профіля і кантактныя звесткі
Comment[ca]=Configureu la imatge del perfil i les dades de contacte
Comment[ca@valencia]=Configureu l'imatge del perfil i les dades de contacte
Comment[cs]=Nastavte si svůj profilový snímek i všechny kontaktní údaje
Comment[da]=Konfigurer dit profilbillede og kontaktdetaljer
Comment[de]=Profilbild und Kontaktdetails konfigurieren
Comment[el]=Διαμορφώστε την εικόνα προφίλ και τις λεπτομέρειες επαφής σας
Comment[en_AU]=Configure your profile image and contact details
Comment[es]=Configure su imagen de perfil y los datos de contacto
Comment[fi]=Muuta profiilikuvaasi ja yhteystietojasi
Comment[fr]=Configurer les informations de contact et la photo de votre profil
Comment[gl]=Configure a imaxe do seu perfil e a información de contacto
Comment[hr]=Konfigurirajte sliku profila i pojedinosti kontakta
Comment[it]=Configura l'immagine del profilo e i dettagli del contatto
Comment[ja]=プロファイルの画像と連絡先の詳細を設定
Comment[lt]=Konfigūruokite savo profilį bei kontaktinius duomenis
Comment[nb]=Endre ditt profilbilde og kontakt-detaljer
Comment[nl]=Stel uw profielafbeelding en contactdetails in
Comment[pl]=Konfiguruje obraz użytkownika i szczegóły kontaktu
Comment[pt]=Configure a sua imagem de perfil e detalhes de contato
Comment[pt_BR]=Configure sua imagem de perfil e dados da conta
Comment[ro]=Configurați imaginea de profil și detaliile de contact
Comment[ru]=Настроить изображение профиля и контактную информацию
Comment[sk]=Upravte si svoj profilový obrázok a kontaktné informácie
Comment[sl]=Nastavite svojo sliko profila in podrobnosti stika
Comment[sr]=Подесите своју слику и податке о налогу
Comment[sv]=Ställ in din profilbild och kontaktuppgifter
Comment[zh_CN]=设置您的头像和详细联系信息
Categories=GNOME;GTK;Settings;X-GNOME-Settings-Panel;X-GNOME-PersonalSettings;DesktopSettings;X-XFCE;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
Keywords=Configuration;Profile;User;
Exec=/usr/bin/mugshot
Icon=mugshot
Terminal=false
Type=Application
